#home body {
  margin: 0;
  min-height: 100vh;
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../../public/images/restaurant.webp");
  background-repeat: repeat;
  background-size: cover;
}
#home body a {
  text-decoration: none;
}
#home body code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#home header {
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 1vh;
}
#home header h1 {
  display: inline-block;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  margin: 0.3em 0;
}
#home .DXC-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 2vh;
}
#home main {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 3vh;
}
#home main .column-contents {
  flex: 1;
  margin: 1vh;
}
#home main .column-contents .box {
  display: inline-block;
  margin-bottom: 3vh;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 0 12px gray;
}
#home main .column-contents .box .parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#home main .column-contents .box .parent-container .gauge-graph {
  margin-top: 2vh;
  height: 31vh;
  width: 31vh;
}
@media screen and (max-width: 1024px) {
  #home main .column-contents .box .parent-container .gauge-graph {
    height: 25vh;
    width: 25vh;
  }
}
@media screen and (max-width: 768px) {
  #home main .column-contents .box .parent-container .gauge-graph {
    height: 15vh;
    width: 15vh;
  }
}
@media screen and (max-width: 480px) {
  #home main .column-contents .box .parent-container .gauge-graph {
    height: 10vh;
    width: 10vh;
  }
}
#home main .column-contents .box .conferenceRoom {
  padding-top: 2vh;
  padding-bottom: 1vh;
  max-width: 80%;
}
#home main .column-contents .box h2 {
  font-size: 1em;
  font-weight: 600;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #383838;
}
#home main .column-contents .box p {
  font-weight: 600;
  color: #383838;
}
#home main .column-contents .box .comment {
  padding-top: 0.5em;
  font-size: 14px;
}
#home .btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 0.5em 2em;
  display: inline-block;
  margin: 0.5em 1.2em 0.7em 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
}
#home .btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
#home .btn-6 {
  color: #fff;
  background: #85c8c5;
  transition: none;
}
#home .btn-6:active {
  top: 2px;
}
#home .btn-6c {
  border: 2px solid #85c8c5;
  border-radius: 60px;
}
#home .btn-6c:hover {
  background: transparent;
  color: #85c8c5;
}/*# sourceMappingURL=homeStyle.css.map */